<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-foreground" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ForeGround</name>
    <js-module name="ForeGround" src="www/ForeGround.js">
        <clobbers target="ForeGround" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ForeGround">
                <param name="android-package" value="cordova.plugin.foreground.ForeGround" />
            </feature>
        </config-file>
          <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="cordova.plugin.foreground.MyService"  />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ForeGround.java" target-dir="scordova.plugin.foreground.ForeGround" />
         <source-file src="src/android/MyService.java" target-dir="cordova.plugin.foreground.ForeGround" />

         
    </platform>
</plugin>